{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <style>
        h1 {
            text-align: center;
        }

        p.date {
            text-align: right;
        }

        p.main {
            text-align: justify;
        }

        /*значение justify растягивание текста по ширине*/
        p {
            text-indent: 30px;
        }

        /*задаем размер отступа для первой строки абзаца*/
    </style>
    <section id="container">
        <div class="wrap-container">
            <!-----------------Content-Box-------------------->
            <article class="single-post zerogrid">
                <div class="row wrap-post"><!--Start Box-->
                    <div class="entry-header">
                        <h1 class="entry-title">О нас</h1>
                    </div>
                    <div class="post-thumbnail-wrap">
                        <img src="static/images/office.jpg">
                    </div>
                    <div class="entry-content">
                        <div class="excerpt"><p class="main">Добро пожаловать в нашу компанию! Мы команда профессионалов,
                            специализирующихся на установке и обслуживании видеоэкранов, видеокубов и бегущих строк.
                            Наша компания обслуживает клиентов по всей России с 2000 года, и мы гордимся тем, что
                            находимся в прекрасном городе Йошкар-Ола.</p>

                            <p class="main">По своей сути мы являемся компанией, ориентированной на предоставление высококачественных
                                услуг нашим клиентам.
                                Мы считаем, что каждый заслуживает доступа к новейшим технологиям, и что наша работа
                                заключается в том, чтобы убедиться, что технология установлена и обслуживается
                                правильно.
                                Наша команда усердно работает, чтобы быть в курсе последних тенденций и инноваций в
                                отрасли, чтобы мы могли предлагать лучшие решения для наших клиентов.</p>

                            <p class="main">Мы понимаем, что потребности наших клиентов различаются, поэтому предлагаем широкий
                                спектр услуг. Если вам нужен
                                большой видеоэкран для спортивного стадиона или небольшая беговая дорожка для розничного
                                магазина, у нас есть опыт, чтобы предоставить. Наша команда может выполнить все,
                                от первоначального проектирования и установки до текущего обслуживания и поддержки.</p>

                            <p class="main">Наша приверженность качеству распространяется не только на наши услуги. Мы также гордимся
                                нашим обслуживанием клиентов.
                                Мы считаем, что успешный проект — это тот, в котором обе стороны довольны результатом,
                                поэтому мы тесно сотрудничаем с нашими клиентами, чтобы обеспечить удовлетворение их
                                потребностей. Мы всегда готовы ответить на вопросы, предоставить обновления и дать
                                совет.</p>

                            <p class="main">Мы гордимся тем, что на протяжении многих лет работали с самыми разными клиентами,
                                включая спортивные стадионы,
                                концертные площадки, розничные магазины и многое другое. Наш опыт научил нас тому,
                                что нет двух одинаковых проектов, и мы всегда готовы адаптироваться к уникальным
                                задачам каждой работы.</p>

                            <p class="main">Если вам нужен видеоэкран, видеокуб или бегущая строка, установка или техническое
                                обслуживание, мы рекомендуем вам
                                связаться с нами. Наша команда готова работать с вами, чтобы найти лучшее решение для
                                ваших нужд. Благодарим Вас
                                за рассмотрение нашей компании.</p></div>

                        </form>
                    </div>
                </div>
        </div>
        </div>
    </section>
{% endblock %}