{% extends 'base.html' %}
{% block content %}
    <section id="container">
        <div class="wrap-container">
            <div class="zerogrid">
                <article>
                    <div class="row wrap-post"><!--Start Box-->
                        <div class="entry-header">
                            <span class="time">June 8, 2016</span>
                            <h2 class="entry-title"><a href="single">Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr</a></h2>
                            <span class="cat-links"><a href="#">ADMIN</a>, <a href="#">LIFESTYLE</a></span>
                        </div>
                        <div class="post-thumbnail-wrap">
                            <img src="static/images/blog3.jpg">
                        </div>
                        <div class="entry-content">
                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic
                                tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur
                                aut perferendis doloribus asperiores repellat.…</p>
                            <a href="single">Read More</a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="row wrap-post"><!--Start Box-->
                        <div class="entry-header">
                            <span class="time">June 8, 2016</span>
                            <h2 class="entry-title"><a href="single">Eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat</a></h2>
                            <span class="cat-links"><a href="#">ADMIN</a>, <a href="#">LIFESTYLE</a></span>
                        </div>
                        <div class="post-thumbnail-wrap">
                            <img src="static/images/blog2.jpg">
                        </div>
                        <div class="entry-content">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la
                                udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia.…</p>
                            <a href="single">Read More</a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="row wrap-post"><!--Start Box-->
                        <div class="entry-header">
                            <span class="time">June 8, 2016</span>
                            <h2 class="entry-title"><a href="single">Temporibus autem quibusdam et aut officiis
                                debitis aut rerum necessitatibus saepe eveniet</a></h2>
                            <span class="cat-links"><a href="#">ADMIN</a>, <a href="#">LIFESTYLE</a></span>
                        </div>
                        <div class="post-thumbnail-wrap">
                            <img src="static/images/blog4.jpg">
                        </div>
                        <div class="entry-content">
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. At vero eos et accusam et justo
                                duo dolores et ea rebum. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. labore et dolore magna aliquyam erat, sed diam
                                voluptua.…</p>
                            <a href="single">Read More</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}