<!DOCTYPE html>
<html lang="ru">
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    {% block title %}
        {% if title %}
            <title>Araneus - {{ title }}</title>
        {% else %}
            <title>Araneus</title>
        {% endif %}
    {% endblock title %}


    <!-- Mobile Specific Metas
	================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
	================================================== -->
    <link rel="stylesheet" href="/static/css/zerogrid.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Custom Fonts -->
{#    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}


    <link rel="stylesheet" href="/static/css/menu.css">
    <script src="/static/js/jquery1111.min.js" type="text/javascript"></script>
    <script src="/static/js/script.js"></script>

    <!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">

    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
    <script src="/static/js/css3-mediaqueries.js"></script>
    <![endif]-->
    <script src="/static/owl-carousel/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-slide").owlCarousel({
                autoPlay: 3000,
                items: 1,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
                itemsMobile: [479, 1],
                navigation: true,
                navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
                pagination: false
            });
        });
    </script>
</head>
    <body>
        <div class="wrap-body">
            {% include 'include/header.html' %}
            {% block content %}

            {% endblock content %}
            {% include 'include/footer.html' %}
        </div>
    </body>
</html>