{% extends 'base.html' %}
{% block content %}
    <section id="container">
        <div class="wrap-container">
            <div id="main-content">
                <div class="wrap-content">
                    <div class="zerogrid">
                        <div class="row">
                            <div class="col-1-3">
                                <div class="wrap-col">
                                    <a class="portfolio-box zoom-effect" href="vologda">
                                        <img src="static/images/image19.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>Проект в Вологде</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="portfolio-box zoom-effect" href="vologda">
                                        <img src="static/images/image20.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="static/images/image21.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-1-3">
                                <div class="wrap-col">
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="static/images/image22.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="static/images/image23.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="static/images/image24.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="static/images/image25.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-1-3">
                                <div class="wrap-col">
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="static/images/image26.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="static/images/image27.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="portfolio-box zoom-effect" href="single.html">
                                        <img src="static/images/image28.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>#ANIMAL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{##}
{#</body>#}
{#</div>#}
