{% extends 'base.html' %}

{% block content %}
 {{ super() }}

    <style>
        h1 {
            text-align: center;
        }

        p.date {
            text-align: right;
        }

        p.main {
            text-align: justify;
        }

        /*значение justify растягивание текста по ширине*/
        p {
            text-indent: 30px;
        }

        /*задаем размер отступа для первой строки абзаца*/
    </style>
{#<link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />#}

    <section id="container">
        <div class="wrap-container">
            <!-----------------Content-Box-------------------->
            <article class="single-post zerogrid">
                <div class="row wrap-post"><!--Start Box-->
                    <div class="entry-header">
                        <span class="time">June 8, 2016</span>
                        <div class="entry-title" align="center">{{ title }}
                        </div>
                    </div>
                </div>
                <div class="entry-content">
                    {{ post | safe }}
                </div>
            </article>
        </div>
    </section>
{% endblock %}