{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <style>
        h1 {
            text-align: center;
        }

        p.date {
            text-align: right;
        }

        p.main {
            text-align: justify;
        }

        /*значение justify растягивание текста по ширине*/
        p {
            text-indent: 30px;
        }

        /*задаем размер отступа для первой строки абзаца*/
    </style>
    <section id="container">
        <div class="wrap-container">
            <!-----------------Content-Box-------------------->
            <article class="single-post zerogrid">
                <div class="row wrap-post"><!--Start Box-->
                    <div class="entry-header">
                        <span class="time">June 8, 2016</span>
                        <div class="entry-title">Нашей компанией был разработан проект установки видеоэкрана в городе
                            Вологда.
                        </div>
                        <span class="cat-links"><a href="#">ADMIN</a>, <a href="#">LIFESTYLE</a></span>
                    </div>
                    <div class="post-thumbnail-wrap">
                        <img src="static/images/vologda.jpg">
                    </div>
                    <div class="entry-content">
                        <p class="main"> Наша компания с гордостью сообщает, что недавно мы завершили продажу
                            и установку ультрасовременного видеоэкрана в городе Вологда. Этот проект стал важным
                            событием для нашей команды, и мы в восторге от конечного результата.
                        </p>
                        <p class="main"> Видеоэкран представляет собой широкоформатный дисплей размером 10 на 6 метров.
                            Он оснащен
                            новейшей светодиодной технологией, которая обеспечивает исключительное качество и четкость
                            изображения. Экран также хорошо виден даже при ярком дневном свете, что делает его
                            идеальным решением для наружных мероприятий и рекламы.
                        </p>
                        <blockquote><p class="main"> Наша команда тесно сотрудничала с клиентом, чтобы убедиться, что
                            видеоэкран
                            отвечает всем его конкретным требованиям. Мы провели тщательное исследование,
                            чтобы оценить местоположение и определить наилучшее место для экрана. Мы также работали
                            с технической командой клиента, чтобы обеспечить бесшовную интеграцию экрана
                            с существующим аудиовизуальным оборудованием.
                        </p></blockquote>
                        <p class="main"> Процесс установки длился несколько дней, в течение которых наша команда
                            неустанно
                            работала над тем, чтобы каждая деталь была идеальной. Мы тщательно откалибровали экран,
                            чтобы изображение было идеально выровнено, и провели тщательное тестирование,
                            чтобы убедиться, что экран работает безупречно.
                        </p>
                        <p class="main"> В итоге получился потрясающий видеоэкран, уже ставший популярной
                            достопримечательностью
                            Вологды. Он использовался для широкого спектра мероприятий, включая концерты на открытом
                            воздухе, спортивные мероприятия и публичные показы. Экран также использовался в рекламных
                            целях, демонстрируя ряд продуктов и услуг заинтересованной аудитории.
                        </p>
                        <p class="main"> Мы гордимся тем, что были частью этого проекта и сыграли свою роль в внедрении
                            этой
                            инновационной технологии в город Вологду. Наша команда по-прежнему привержена обеспечению
                            высочайшего уровня обслуживания и поддержки наших клиентов, и мы с нетерпением ожидаем
                            продолжения сотрудничества с предприятиями и организациями по всему региону для
                            предоставления передовых аудиовизуальных решений.
                        </p>
                    </div>
                </div>
            </article>
{% endblock %}