{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <style>
        h1 {
            text-align: center;
        }

        p.date {
            text-align: right;
        }

        p.main {
            text-align: justify;
        }

        /*значение justify растягивание текста по ширине*/
        p {
            text-indent: 30px;
        }

        /*задаем размер отступа для первой строки абзаца*/
    </style>
    <section id="container">
        <div class="wrap-container">
            <!-----------------Content-Box-------------------->
            <article class="single-post zerogrid">
                <div class="row wrap-post"><!--Start Box-->
                    <div class="entry-header">
                        <span class="time">June 8, 2016</span>
                        <div class="entry-title">Компанией "Аранеус" был разработан проект установки видеоэкрана в городе
                            Йошкар-Оле.
                        </div>
                        <span class="cat-links"><a href="#">ADMIN</a>, <a href="#">LIFESTYLE</a></span>
                    </div>
                    <div class="post-thumbnail-wrap">
                        <img src="static/images/yola.jpg">
                    </div>
                    <div class="entry-content">
                        <p class="main"> Наша компания с гордостью сообщает, что недавно мы продали и установили
                            современный видеокуб на казанском стадионе. Эта передовая технология несомненно улучшит
                            впечатления болельщиков и обеспечит непревзойденные впечатления от просмотра
                            для всех любителей спорта.
                        </p>
                        <p class="main">Наша команда неустанно трудилась над установкой видеокуба на казанском стадионе.
                            Им пришлось работать с командой управления стадионом, чтобы убедиться, что процесс
                            установки не помешает проведению каких-либо текущих мероприятий. Процесс установки был
                            выполнен идеально, а видеокуб был запущен в рекордно короткие сроки.

                        </p>
                        <blockquote><p class="main"> Видеокуб представляет собой массивный светодиодный экран высотой 25
                            футов
                            и шириной 36 футов. Он был разработан для отображения контента высокой четкости и
                            обеспечения кристально чистого изображения для всех зрителей на стадионе. Экран способен
                            отображать кадры живых выступлений, повторы и предварительно записанный контент.
                        </p></blockquote>
                        <p class="main"> Видеокуб уже получил восторженные отзывы болельщиков и любителей спорта,
                            посетивших мероприятия на казанском стадионе. Они высоко оценили четкость изображений
                            и качество контента, отображаемого на экране.
                        </p>
                        <p class="main"> Наша компания стремится предоставлять передовые технологии для спортивных
                            объектов и стадионов по всему миру. Мы верим, что наши продукты могут помочь улучшить
                            впечатление от болельщиков и обеспечить более захватывающий опыт для всех присутствующих.
                            Мы гордимся тем, что продали и установили видеокуб на стадионе в Казани, и надеемся на
                            дальнейшее сотрудничество с другими площадками и клиентами.
                        </p>
                    </div>
                </div>
            </article>
{% endblock %}